In [1]:
import pandas as pd

In [3]:
series=pd.read_csv('airline-passengers.csv', header=0, index_col=0)

In [9]:
series.describe()

       Passengers
count  144.000000
mean   280.298611
std    119.966317
min    104.000000
25%    180.000000
50%    265.500000
75%    360.500000
max    622.000000